@import '../../variables';

.PhoneDetails {
  margin: 1rem;
  background-color: $secondary-color;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    @media (min-width: 600px) {
      flex-direction: row;
    }

  }

  .details-header, .details-body {
    @media (min-width: 600px) {
      width: 50%;
    }
  }

  .details-body {
    padding: 1.5rem;
  }

  .error-message {
    text-align: center;
  }

}
