@import '../../variables';

.Header {
  position: sticky;
  top: 0;
  background-color: $secondary-color;
  width: 100%;
  border-bottom: 2px solid $primary-color;
}

.container.menu {
  padding: 1rem;
  text-align: center;
  position: relative;
  i {
    position: absolute;
    float: left;
    left: 1rem;
    font-size: 1.5rem;
    color: $primary-color;
  }
  a {
    text-align: center;
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
    h1 {
      display: inline-block;
      margin: 0;
      font-size: 1.5rem;
    }
  }
  .is-active i {
    display: none;
  }

}
