@import '../../variables';

.PhoneMainInformation{
  h2,
  h3 {
    margin: 0;
  }

  h3 {
    color: $grey;
    font-size: 24px
  }

  h2 {
    font-size: 35px;
  }

  p {
    text-align: justify;
  }

  .Price {
    float: right;
    font-size: 24px;
    font-weight: bold;
  }

}
