$blue: #55a3a3;
$white: #fff;
$black: black;
$grey: grey;
$waning-light: #ffc107;
$waning-dark: #ff9966;

$primary-color: $blue;
$primary-color-alpha: rgba(85, 163, 163, 0.5);
$secondary-color: $white;
